<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--
	<appSettings>
		<add key="PostgreSQLConnectionString" value="Include Error Detail=True;Host=localhost;Database=test;Username=postgres;Password=changeme"/>
	</appSettings>-->
	<connectionStrings>
		<add name="PostgreSQLConnectionString" connectionString="Include Error Detail=True;Host=localhost;Database=test;Username=postgres;Password=changeme"/>
	</connectionStrings>
</configuration>