<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--
	<appSettings>
		<add key="PostgreSQLConnectionString" value="Include Error Detail=True;Host=localhost;Database=test;Username=postgres;Password=changeme"/>
	</appSettings>-->
	<connectionStrings>
		<add name="PostgreSQLConnectionString" connectionString="Include Error Detail=True;Host=localhost;Database=test;Username=postgres;Password=changeme"/>
	</connectionStrings>

	<appSettings>
		<add key="MapQuestAPIKey" value="HUneyj3M8bsbsBFgxuBL8dtwxOvFZUMz" />
		<add key="ExportImportSubdir" value="Export" />
		<add key="MapSubdir" value="\Images" />
	</appSettings>

</configuration>
<!--<add key="MapQuestAPIURL" value="https://www.mapquestapi.com/directions/v2/route?key={key}&amp;from={from}&amp;to={to}&amp;unit=k" /> -->