<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PostgreSQLConnectionString" connectionString="Include Error Detail=True;Host=localhost;Database=test;Username=postgres;Password=changeme"/>
	</connectionStrings>

	<appSettings>
		<add key="MapQuestAPIKey" value="" />
		<add key="ExportImportSubdir" value="Exports" />
		<add key="MapSubdir" value="Images" />
	</appSettings>

</configuration>
